<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>StrikeBall</title>
<style>
    div{
        height: 100px;
        width: 400px;
        border: 1px solid red;
        font-size: 40px;
        padding-top: 20px;
        font-weight: bold;
        color: brown;
    }
</style>
</head>
<body>
        <nav>
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="">Teams</a>
                </li>
                <li>
                    <a href="/auth/login">LogIn</a>
                </li>
                <li>
                    <a href="/signup">SignUp</a>
                </li>
            </ul>
        </nav>
        <a href="/auth/google">Auth via Google</a><br>
        <a href="/auth/facebook">Auth via FaceBook</a>
        <p><%= message %> </p>
        <div id="notific"></div>
        

        <script src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script>
            const socket = io('http://localhost:3000')
                const notificationDiv = document.querySelector('div')
                const unicUsersEvent = sessionStorage.getItem('id')
                
                socket.emit('connection', () => {
                    console.log(unicUsersEvent + " it is id of user who is listening")
                })
                socket.on(unicUsersEvent, msg => {
                    drawMsg(msg)
                })
                
                function drawMsg(msg) {
                    notificationDiv.textContent = msg
                }
        </script>
</body>
</html>